POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=store
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/store?schema=public
KAFKA_BROKER=kafka:9092
CATALOG_API_PORT=3001
ORDERS_API_PORT=3002
SWAGGER_SERVER_URL=http://localhost:3002
